body {
  background: linear-gradient(to bottom right, lightgreen, hotpink);
}

.main-wrapper {
  background-color: rgb(209, 34, 34);
  margin: 45vh  35vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border: 2px solid skyblue;
  border-radius: 8px;

}


.button-wrapper {
  align-items: center;
  justify-content: center;
}

.btn {
  width: 5rem;
  height: 3rem;
  border-radius: 8px;
  background-color: #2c69e2ff;
  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
}

.result-text {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}


